.DS_Store
.idea
.vscode
runs/*
__pycache__/*
*/__pycache__/*
*/__pycache__
__pycache__
docs/build/*
docs/build
docs/source/_autosummary
*~
*/tapas_report*
examples/multiple_aia
examples/multiple_mia
tapas/tests/output/*
data/*
examples/reports
examples/objects
examples/*.csv
